.loading-movie {
    height: 350px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    max-width: 75vw;
}

.loading-movie > .poster {
    background-color: #aaa;
    width: 250px;
    height: 320px;
    max-width: 75vw;
}

.loading-movie > .poster > .line {
    height: 320px;
    width: 0px;
    background-color: #777;
    animation-name: PosterMovie;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    max-width: 75vw;
}

@keyframes PosterMovie {
    0% {
        width: 0px;
    }

    50% {
        width: 100%;
    }
}