.notification {
    background-color: #fff;
    color: #222;
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 15px 20px;
    border-radius: 4px;
    border: 2px solid #222;
    width: max-content;
    width: 550px;
    max-width: 85vw;
    margin: auto;
}

@media (max-width:550px) {
    .notification {
        width: calc(100% - 80px);
    }
}

.notification > div {
    margin: 0px 5px;
}

.notification > div {
    font-size: 15px;
    font-weight: bolder;
}