.specific-movie {
    /* box-shadow: 0px 0px 5px 0px rgb(249, 159, 120); */
    /* padding: 10px; */
    max-width: 1070px;
    margin: auto;
}

.movie-not-found {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.movie-not-found>div.header {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(249, 159, 120);
}

.movie-not-found>p {
    font-size: 16px;
    margin-top: 40px;
    line-height: 40px;
    max-width: 800px;
}

.specific-movie .loading-movie {
    margin: 0px;
}

.specific-movie>.s-movie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.specific-movie>.s-movie .s-movie-poster {
    max-width: 250px;
    margin: 25px;
}

.specific-movie>.s-movie .s-movie-poster>img {
    max-width: 250px;
    object-fit: cover;
    border: 5px solid #fff;
}

.specific-movie>.s-movie .s-movie-poster>.no-poster {
    width: 230px;
    height: 330px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #aaa;
    border: 1px solid #fff;
}

.specific-movie>.s-movie>.s-movie-text {
    max-width: 700px;
    margin: 30px;
}

.specific-movie>.s-movie>.s-movie-text>.s-movie-nm {
    font-size: 50px;
}

.specific-movie>.s-movie>.s-movie-text>.s-movie-release-year {
    margin-top: 15px;
    font-size: 18.5px;
}

.specific-movie>.s-movie>.s-movie-text>.s-movie-plot, .s-movie-plot {
    margin: 40px 0px;
    font-size: 18.5px;
    word-spacing: 5px;
    line-height: 30px;
}

.line-s {
    height: 2px;
    width: 100%;
    background-color: #999;
    margin: 25px 0px;
}

.specific-movie>.s-movie .s-movie-genres {
    display: flex;
}

.specific-movie>.s-movie .s-movie-genres>.s-movie-genre {
    margin: 5px 8px;
}

.specific-movie>.s-movie .s-movie-genres>.s-movie-genre {
    background-color: #fff;
    color: #000;
    padding: 8px 10px;
    border-radius: 3px;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-details {
    flex-direction: row;
}

.i-header {
    font-size: 30px;
    margin: 25px auto;
}

.table>.line-s {
    margin: 0px;
}

.table>.t-row {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    justify-content: center;
}

.table>.t-row>.name {
    margin: 10px 25px;
    width: max-content;
    max-width: 250px;
    font-size: 18.5px;
    font-weight: bold;
}

.table>.t-row>.val {
    margin: 10px 25px;
    color: #bbb;
    font-size: 17px;
}

@media (max-width:450px) {
    .table {
        flex-direction: column;
    }
}


@media (max-width:650px) {
    .specific-movie>.s-movie .s-movie-poster {
        margin: 25px auto;
    }
}

@media (max-width:1090px) {
    .specific-movie>.s-movie>.s-movie-text {
        max-width: none;
    }
}